/*
Nome do Tema: FMProjetos
URI do tema: http://luketa.me/
Autor: Lucas Maranhao
URI do autor: http://luketa.me/
Descrição: Tema para a FM Projetos e Instalações.
Versão: 1.0
Licença: GNU General Public License v2 ou posterior
URI da licença: http://www.gnu.org/licenses/gpl-2.0.html
Tags: preto, marrom, laranja, bege, branco, amarelo, claro, uma coluna, duas colunas, barra lateral direita, largura flexível, cabeçalho personalizado, menu personalizado, estilo de editor, imagens em destaque, microformatos, post-formats, rtl-language-support, sticky-post, pronto para tradução
Domínio de texto: vinte e treze

Este tema, como o WordPress, é licenciado sob a GPL.
Use-o para fazer algo legal, se divertir e compartilhar o que aprendeu com outras pessoas.
*/

* {
    padding: 0;
    margin: 0;
    
}

a {
    text-decoration: none;
    color: #000;
}
/* HEADER */
header {        
    background: #051561;    
}
.logo a{
    color: #fff;
    text-decoration: none;
}

.logo a:hover {    
    color: #ccc;
    text-decoration: underline;
}

.logo a h1{
    font-size: 48px;
}

#nav-list {
    width: 100%;
}

#nav-list ul{    
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    font-size: 18px;
}

#nav-list ul li {
    padding: 0 10px;
}


#nav-list ul li a {    
    color: #fff;
    text-decoration: none;
}

#nav-list ul li a:hover {    
    color: #ccc;
    text-decoration: underline;
}

/*RESPONSIVE HEADER*/


#grid-slider {
    position: absolute;
    color: #fff;
    top: 40%;
    left: 5%;
    line-height: 1.3;    
}

#grid-slider h2 {
    font-size: 48px;
    font-weight: 600;
    
}

#grid-slider p {
    font-size: 24px;
    font-weight: 400;
}

.area-btn-grid-slider {
    display: flex;
    margin-top: 78px;
    gap: 15px
}

#btn-nossos-produtos {
    background: #fff;
    border-radius: 4px;
    border: none;
    width: 18rem;
    padding: 1rem;
    font-size: 18px;
}

#btn-nosso-produtos:hover {
    cursor: pointer
}

#btn-consultor {
    background: transparent;
    border-radius: 4px;
    border: 1px solid #fff;
    
    width: 18rem;
    padding: 1rem;
    font-size: 18px;
    color: #fff;
}

#btn-consultor:hover {
    cursor: pointer
}

/* MAIN */

/*HOME*/

.titulo-home {
    font-size: 48px;
    color: #000;
    font-weight: 300;
}

.bold-titulo {
    font-weight: 600;
}
/* NOSSO PRODUTOS */
.componentes-home {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
}

.nossos-produtos h3 {
    margin: 2rem 0;
}

.lista-produtos {
    display: flex;
    padding: 2rem 0;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
}

/*.card {
    height: 30rem;
    width: 20rem;
    margin: 0 1rem;
    box-shadow: 1px 2px 8px 1px rgb(0, 0, 0);
    border-radius: 5px;
    margin: 1rem;
    overflow: hidden;   
}*/

.card {
    min-height: 526.38px !important;
}


.card-produto .card-header {
    height: 60%;
    padding: 0;
    overflow: hidden;
}

.card-header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    min-height: 414.21px;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    box-sizing: border-box;
    gap: 4px;
}

.card-produtos-titulo {
    text-decoration: none;
    color: #000;
}

.card-produtos-titulo:visited {
    text-decoration: none;
    color: #000;
}

.btn-preco {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0 5px;
    text-decoration: none;
    color: #000;
    width: 153px;
}

.btn-preco:visited {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0 5px;
    text-decoration: none;
    color: #000;
    
}

.btn-preco:hover {
    cursor: pointer
}

.btn.btn-primary.btn-black-home {
    background-color: #000;
    padding: 1rem;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
}

/*QUALIDADE*/
.card-qualidades {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;   
    align-items: center;
}

.card-qualidades img {
    width: 64px;
    height: 64px;
}

.orcamento-projeto {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.orcamento-projeto h2 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    margin-bottom: 20px
}

/*PROJETOS REALIZADOS*/
.item-css {    
    display: flex;
    padding: 2rem 0;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 30px;
}

/*NOSSOS PARCEIROS*/ 
.parceiros {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
}

/*NOSSOS CLIENTES*/ 
.clientes {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
}

/* PAGE-CLIENTE */
.template-middle {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
}

.template-middle h2 {
    font-size: 40px;    
}

.section-logos {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 100px 0;
}

.four-logos {
    max-width:1100px
}

/* NOSSOS PROJETOS */


/* .fotos-projetos {    
    display: flex;
    padding: 2rem 0;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;    
} */

.img-projetos {
    width: 100%;    
    object-fit: cover;
    border: none;
    border-radius: 20px;
    height: 400px;
}

/*FAÇA SEU PROJETO*/
#fale-conosco-img-black {
    object-fit: cover;
    width: 101%;    
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-sizing: border-box;    
}

.titulo-fale-conosco {
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    margin-top: 40px;    
}


/* BTN WHATSAPP */
.whatsapp {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 16px;
    right: 2%;
    box-sizing: content-box;
    border-radius: 50%;
    opacity: 50%;
    transition: 1s;
    z-index: 1;
}

.whatsapp:hover {
    opacity: 100%;
    cursor: pointer;
}

.whatsapp img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.whatsapp:hover {
    box-shadow: 2px 2px 10px #7FFF00;
}

/* SINGLE-PRODUTO  */
.produto-principal {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 15px 100px;
}

.img-produto {
    width: 150%;
}

.produtos-secundarios {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.area-produtos-secundarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 43px;
    max-width: 1200px;
}

.card-produtos-secundarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:1
}

.card-produtos-secundarios p {
    width: 200px;
}

/* CONTATOS */


.page-contato-area {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px 0px;    
}

.map {
    border: 1px solid #e6e6e6;
    border-radius: 24px 0 0 24px;
    box-shadow: 5px 2px 11px #dbdbdb;
    z-index: 1;
}

.map iframe {
    border-radius: 24px 0 0 24px;
    width: 600px;
    height: 450px;
}
.contatos {    
    padding: 30px;
    background: #e6e6e6;
    border-radius: 24px 24px 24px 24px;
    box-shadow: 2px 2px 12px #ccc;
    transition: 500ms ease-in-out
}

.contatos:hover {
    box-shadow: 2px 2px 20px #222;
}


.input-effect {    
    display: flex;
    align-items: center;
    gap: 15px;
    width: 500px;
    padding: 11px 10px;
    margin: 12px 0;
    background: #f2f2f2;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 2px 2px 11px #ccc;
}

.input-effect i {
    margin: 0 12px;
    
}
/* SOBRE */
.page-sobre-area {
    margin: 100px;
    font-size: 16px;    
}
/* FOOTER */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    font-size:x-large;
}

.footer-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 5rem;
}

.lista-icones {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.lista-icones li {
    margin: 0 1rem;
}

.svg-footer {
    width: 100%;
    position: absolute;
    top: 0px
}

.svg-footer svg {
    width: 100%;
}

.contato-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    color: #fff;
    width: 100%;
    align-items: center;
    position: relative;
    padding: 100px 0px
}

.copyright {
    font-size: 16px;
}

.contato-email form {
    padding: 1rem 0;
}

/* CONTATO-EMAIL */

.formulario-email {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
}


.form-div-a {
    display: flex;
    flex-wrap: wrap;
    gap: 59px;
    justify-content: inherit;
}

.input-div {    
    padding: 0 17px;
    display: flex;
    flex-direction: column;
}

.input-type-a {
    border-radius: 5px;
    width: 100%;
    border: none;
    padding: 14px;
    background: #e6e6e6;
    
}

.form-div-b {
    display: flex;
    justify-content: inherit;
}

textarea {
    border-radius: 5px;
    border: none;        
    background: #e6e6e6;
    width: 100%;
}

.form-div-btn {
    display: flex;
    justify-content: inherit;
}

.btn-enviar {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #e6e6e6;;
    color: #000;
    border: none;
    border-radius: 5px;    
    font-size: 18px;
    transition: 1s
}

.btn-enviar:hover {
    cursor: pointer;    
    font-size: 26px;
}

.label-form {
    font-size: 18px
}

#slide-principal {
    position: relative;
}

#fakeBurguer {
    display:none;
}

:root {
    --size: 50px; /* size of the cut */
    --gap: 10px;  /* the gap */
}
#fale-conosco-white{
    width: 100%;
    height: 300px;
    clip-path: polygon(0 0,100% 0,100% calc(100% - var(--size)),50% 100%,0 calc(100% - var(--size)));
    filter: opacity(80%);
}

#fale-conosco-black{
    clip-path: polygon(0 0,50% var(--size),100% 0,100% 100%,0 100%);
}

.owl-nav {
    margin-top: 0 !important;
    position: absolute;
    top: 40%;
    z-index: 9;
    width: 100%;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    width: 35px;
    height: 35px;
}

.owl-nav .owl-prev {
    left: 0;
    position: absolute;
}

.owl-nav .owl-next {
    right: 0;
    position: absolute;
}

.owl-nav i {
    font-size: 35px;
}

#textAreaCustom {
    height: 300px;
}

/*CARD*/
.card {
    box-shadow: 2px 2px 12px #ccc;
    transition: 500ms ease-in-out
}
.card:hover {
    box-shadow: 2px 2px 20px #222;
    cursor: pointer;
}

/*icone menu*/
#icon-menu {
    color: #fff;
    font-size: 50px;
}

.item a {
    color: #051561;
    text-decoration: none;
}

.item a:visited {
    color: #051561;
    text-decoration: none;
}

.img-project {
    height: 300px;
    object-fit: cover;
    
}

.img-project img {
    height: 100%;
}

.remove-text-decoration {
    text-decoration: none;
    color: #051561;
}

.remove-text-decoration:visited {
    text-decoration: none;
    color: #051561;
}

.img-parceiro {
    width: 100%;
}

.text-center {
    text-align: center;
}


/*RESPONSIVE*/ 
@media (max-width: 768px) {

    /*CONTATO EMAIL*/
    
    

    /*PAGINA DE CONTATOS*/
    .page-contato-area {
        display: flex;
        justify-content: center; 
        flex-direction: column;
    }

    .map iframe {
        border-radius: 24px 0 0 24px;
        width: auto;
        height: 450px;
    }

    .input-effect {
        display: flex;
        align-items: center;
        gap: 15px;
        width: auto;
        padding: 11px 10px;
        margin: 12px 0;
        background: #f2f2f2;
        border-radius: 8px;
        font-size: 14px;
        box-shadow: 2px 2px 11px #ccc;
        overflow: hidden;
    }

    .logo img{
        width: 110px;        
    }

    #navbarToggleExternalContent3 ul {
        list-style-type: none;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navbarToggleExternalContent3 ul li{
        padding: 10px;
    }

    #navbarToggleExternalContent3 ul li a {
        color: #fff;
        list-style: none;
        text-decoration: none;  
    }

    #navbarToggleExternalContent3 ul li a {
        color: #fff;
        list-style: none;
        text-decoration: none;  
    }

    #navbarToggleExternalContent3 ul li a:visited {
        color: #fff;
        text-decoration: none;
    }

    .img-projetos {
        height: 250px;
    }


    #grid-slider {
        top: 25%;
        left: 4%;
        width: 69%;
    }

    #grid-slider h2 {
        font-size: 26px;
    }

    #grid-slider p {
        font-size: 14px;
    }

    .img-project {
        height: 200px;
        object-fit: cover;
    }

    
}

/* //UTILITIES */
/*29/04/2023*/
.border-img {
    box-shadow: 2px 4px 12px #bbb;
    border-radius: 6px;
}


